<!DOCTYPE html>
<html>
<head>
  <title>Novel Top</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Novel Top Recommend</h1>
<p>Please input request URL.</p>
<form method="post" action="./recommend">
  <p>
    http://ncode.syosetu.com/<input type="text" name="ncode" value="<%= data.params.ncode %>">/<br>
  </p>
  <div>
    <input type="submit">
  </div>
  <% if (data.novels && data.novelsStr) { %>
    <h2>Stored Novels</h2>
    <p>Count: <string><%= data.novels.length %></string></p>
    <pre>
      <code><%= data.novelsStr %></code>
    </pre>
  <% } %>
  <% if (data.recommends_str) { %>
    <h2>Recommends</h2>
    <p>Count: <strong><%= data.recommends.length %></strong></p>
    <pre>
      <code><%= data.recommends_str %></code>
    </pre>
  <% } %>
</form>
</body>
</html>
